:root {
  --main-color: rgba(0, 0, 0, 1);
  --secondary-color: rgba(255, 255, 255, 254);
}

body {
  background: var(--main-color);
  color: var(--secondary-color);
}

* {
  box-sizing: border-box;
}
